table {
  margin-bottom: 1.2em;
  width: 100%;
  thead {
    tr { background: #E5E5E5; }
  }
  tr {
    margin-bottom: 2px;
    &:first-child {
      border-bottom: 2px solid #cdcdcd;
      margin-bottom: 5px;
    }
    &.odd {
      background-color: #e7e9f0;
    }
  }
  td, th {
    text-align: center;
    padding: 8px;
  }
}
