<footer id="page-footer">
  <h3>My Health-e Network</h3>

  <address>
    <p>123 Main Street, Fredericksburg, VA 22406</p>
    <%= mail_to "info@myhealthenetwork.com" %>
  </address>

  <p class="copyright">
    &copy; 2013 MyHealtheNetwork.com
  </p>
</footer>
