<%= simple_form_for(@scan) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :med, collection: current_user.meds.uniq %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
